


.d-block{
    height: 580px;
}










/* @media  (max-width: 1600px){
    .fotos{
        width: 100%;
    }
    .item-fotos{
    width: 100%;
    display: grid;
    grid-template-columns: auto;
    position: relative;
} 
    .item-fotosp{
        padding: 10%;
    }
}
    
@media (max-width: 864px){
    .menu{
        display: flex;
        width: auto;
}
}
@media (max-width: 768px) {
    .contenedor-solicitud{
        width: 100%;
        text-align: center;
        
    }
    @media (max-width: 1264px){
        .form-img{
            display: flex;
        }
    }    
    
} */
@media (max-width: 1565px){
    .contenedor-solicitud {
        font-size: 20px;
        display: grid;
        border: solid black;
        margin: 10px 5px 10px 5px;

    }
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}